In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
#read an csv file
df = pd.read_excel('Efficiency.xlsx')
df

,Time,SQ8,SQ9,SQ10,SQ11,SQ12,SQ13,SQ14,SQ16,SQ18,SQ19,Tower A
0,2022-09-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
1,2022-09-01 01:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
2,2022-09-01 02:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
3,2022-09-01 03:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
4,2022-09-01 04:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2023-08-31 19:00:00,2.540909,2.680609,2.346515,2.018311,2.097359,2.693724,2.065783,2.295638,0.0,3.273832,4.65272
8756,2023-08-31 20:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
8757,2023-08-31 21:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
8758,2023-08-31 22:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
8759,2023-08-31 23:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000

In [5]:
#I only want data from 7am to 19am of each day
#new_df = df[(df['Time'] >= '2022-09-01 07:00:00') & (df['Time'] <= '2023-08-31 19:00:00')]
#new_df
start_date = '2022-09-01 07:00:00'
end_date = '2023-08-31 16:00:00'
filtered_df = df.loc[df['Time'].between(start_date, end_date)]
filtered_df

#Only include data from 7am to 7pm of each day
filtered_df['Time'] = pd.to_datetime(filtered_df['Time'])
filtered_df = filtered_df.set_index('Time')
filtered_df = filtered_df.between_time('07:00:00', '16:00:00')
filtered_df = filtered_df.reset_index()
filtered_df
filtered_df.to_excel('All Efficiency @7am-4pm.xlsx', index=False)

C:\Users\nickc\AppData\Local\Temp\ipykernel_4812\712220939.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Time'] = pd.to_datetime(filtered_df['Time'])