In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [40]:
#read an csv file
df = pd.read_excel('All Efficiency.xlsx')
df

,Time,Indoor Sports Centre,Library,LSK North,LSK South,S H Ho Sports Hall,Shaw Auditorium,SQ Apartment1-12,SQ Apartment13-24,SQ Apartment25-36,...,UG Hall9,Wong Check She Research Centre,Zone A1,Zone A2,Zone A4,Zone A5,Zone A6,Zone A7,Zone D,Zone J2
0,2022-09-01 00:00:00,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-09-01 00:15:00,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022-09-01 00:30:00,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022-09-01 00:45:00,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022-09-01 01:00:00,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2023-08-31 22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35036,2023-08-31 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35037,2023-08-31 23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35038,2023-08-31 23:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35039,2023-08-31 23:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
#I only want data from 7am to 19am of each day
#new_df = df[(df['Time'] >= '2022-09-01 07:00:00') & (df['Time'] <= '2023-08-31 19:00:00')]
#new_df
start_date = '2022-09-01 00:00:00'
end_date = '2023-08-31 23:45:00'
filtered_df = df.loc[df['Time'].between(start_date, end_date)]
filtered_df

#Only include data from 7am to 7pm of each day
filtered_df['Time'] = pd.to_datetime(filtered_df['Time'])
filtered_df = filtered_df.set_index('Time')
filtered_df = filtered_df.between_time('07:00:00', '19:00:0')
filtered_df = filtered_df.reset_index()
filtered_df
filtered_df.to_excel('All Efficiency @7am-7pm.xlsx', index=False)